.headerWrapper {
  display: flex;
  justify-content: center;
  background-color: #000;
}

.header {
  position: absolute;
  top: 10px;
  left: 20px;
}

.header img {
  width: 40px;
  margin: 0 5px;
}

.didyouknow {
  display: flex;
  margin-bottom: 30px;
}

.didyouknow h3 {
  margin: none;
  margin-top: 30px;
  margin-left: 10px;
}
