.headerWrapper {
  display: flex;
  justify-content: center;
}

.header {
  position: absolute;
  top: 10px;
  left: 20px;
}

.header img {
  width: 100px;
  margin: 0 5px;
}

.didyouknow {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.didyouknow h4 {
  margin: 0 !important;
  margin-top: 30px !important;
  margin-left: 10px !important;
  color: white !important;
}

.react-data-table--cell-content,
.rdt_TableCol_Sortable,
h6,
h2,
h4,
h3 {
  color: white !important;
}

.rdt_TableCol_Sortable {
  font-size: 34px !important;
}

.react-data-table--cell-content {
  font-size: 30px !important;
}

.rdt_TableHeader {
  display: none !important;
}
